{% load static %}

<script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>

<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<!-- Plugins -->
<script src="{% static 'assets/js/vendor/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/owl.carousel2.thumbs.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'assets/plugin/go-to-top/script.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/js-home-1/js-home-1.js' %}"></script>


<script src="{% static 'assets/js/vendor/nouislider.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.horizontalmenu.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-stack-menu.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/countdown.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/wNumb.js' %}"></script>
<script src="{% static 'assets/js/vendor/ResizeSensor.min.js' %}"></script>

<script src="{% static 'assets/plugin/chartjs/chart.js' %}"></script>
<script src="{% static 'assets/plugin/go-to-top/script.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/js-product/js-product.js' %}"></script>
<script src="{% static 'assets/js/js-cart/js-cart.js' %}"></script>
<script src="{% static 'assets/js/js-profile/js-profile.js' %}"></script>
<script src="{% static 'assets/js/js-shopping/js-shopping.js' %}"></script>
<script src="{% static 'assets/js/js-shopping/js-shopping-complete-buy.js' %}"></script>
<script src="{% static 'assets/js/js-shopping/js-shopping-peyment.js' %}"></script>

